@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --scrollbar-track: #f7f7f7;
    --scrollbar-thumb: #a0a0a0;
}

.dark {
    --scrollbar-track: #c0c0c0;
    --scrollbar-thumb: #505050;
}

@layer utilities {
    

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: var(--scrollbar-track);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
        border-radius: 100vh;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #303030;
    }
}

@layer base {
    * {
        @apply text-text;
    }
    h1 {
        @apply font-black text-3xl;
    }
    h2 {
        @apply font-bold text-2xl;
    }
    h3 {
        @apply font-semibold text-xl;
    }
    input[type='text'] {
        @apply border border-text-lighter text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  outline-none;
    }
    button {
        @apply border-none border-b-2 border-text font-semibold text-base;
    }
    button:focus {
        @apply border-text-darker;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
